:root {
    --color-primary: #486285;
    --color-primary-light: #99ABC4;
    --colorGreen: #44AF79;
    --colorGreenAccent: #30865b;
    --colorGreenLight: #d4edda;
    --blue: #64CBE4;
    --blueLight: #AEE6F2;
    --yellow: #F2DC5D;
    --orange: #F2A359;
    --white: #F9F9F6;
    --white_transparent: #BFF9F9F6;
    --transparent: #00F9F9F6
}

body {
    background-color: var(--colorGreenLight);
}

.body-auth {
    background-image: url(../img/background.png); 
    background-size:cover; 
    background-repeat: no-repeat;
}

.my-nav {
    background-color: var(--color-primary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.my-button {
    background-color: var(--colorGreen);
    color: var(--white);
    border-color: var(--colorGreenAccent);
}

.my-button:hover, .my-button:active, .my-button:focus {
    background-color: var(--colorGreenAccent);
    border-color: var(--colorGreen);
}

.myHref {
    color: var(--colorGreenAccent);
    margin-bottom: 10px;
}

.myHref:hover {
    color: var(--colorGreenAccent);
}

.holder {
    margin: 20px;
}

.my-card{
    margin-bottom: 20px;
}

#mapholder {
    width: 500px;
    height: 500px;
    background-color: var(--orange);
    margin-top: 20px;
    margin-right: 35px;
    opacity: 0;
}

.my-map-box {
    width: 500px;
    height: 500px;
    /* background-color: var(--yellow); */
    /* background: transparent; */
    position: fixed;
    top: 100px;
    right: 35px;
    z-index: 50;
}

.content {
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
    width: 100%;
}

#new_place {
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#new_place_button {
    width: 40px;
    height: 40px;
    background-image: url("../../img/icon_plus.png");
    background-size:cover; 
    background-repeat: no-repeat;
    border: 1px solid var(--colorGreenAccent);
    border-radius: 5px;
}

#cardsholder_admin {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.my-card-admin {
    width: 40%;
    margin: 10px;
}

.my-card-query {
    width: 80%;
}

#query {
    margin-bottom: 10px;
    height: 150px
}

#query_res {
    margin-top: 10px;
}